{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "printWidth": 100,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/routes/(.*)$",
    "^@/pages/(.*)$",
    "^@/layouts/(.*)$",
    "^@/components/(.*)$",
    "^@/contexts/(.*)$",
    "^@/hooks/(.*)$",
    "^(@|(assets|constants|utils|apis|types|styles))(.*|$)"
  ],
  "importOrderSeparation": true
}
