spring:
  profiles:
    active: local
  sql:
    init:
      platform: local
      mode: always
  mvc:
    log-resolved-exception: off
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

---

spring:
  config:
    activate:
      on-profile: prd
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DATABASE_HOST}:3306/${DATABASE_NAME}?serverTimezone=Asia/Seoul&character_set_server=utf8mb4
    username: ${USERNAME}
    password: ${PASSWORD}

---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DATABASE_HOST}:3306/${DATABASE_NAME}?serverTimezone=Asia/Seoul&character_set_server=utf8mb4
    username: ${USERNAME}
    password: ${PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

---

spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: ${USERNAME}
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org:
      springframework:
        transaction.interceptor: TRACE

---

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}
      expire-length: ${EXPIRED_TIME}
  oauth:
    github:
      client-id: ${GITHUB_CLIENT_ID}
      client-secret: ${GITHUB_CLIENT_SECRET}
  slack:
    notification:
      slack:
        url: ${SLACK_ERROR_URL}

---

logging:
  slack:
    error-url: ${SLACK_ERROR_URL}
  config: classpath:logback-spring.xml

